<!doctype html>
<html>
<head>
    <title>DRH - Affectation</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap" rel="stylesheet">
    <!-- <link  rel="shortcut icon"  type="image/png"  href="" > -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body class="bg-image" style="background-image: url('background.png'); background-repeat: no-repeat;background-attachment: fixed;  background-size: cover;">
    <nav class="navbar navbar-light bg-secondary">
        <a class="navbar-brand text-light" href="accueil">Accueil</a>
        <button class="btn btn-outline-light my-2 my-sm-0"><a class="text-light" href="/">Déconnecter</a></button>
    </nav>
    <section class="ftco-section">
        <div class="container">
            <div class="p-2"></div>
            <div class="row justify-content-center">
                <div class="shadow-lg col-md-7 col-lg-8 bg-light rounded">
                    <div class="p-4 p-md-5">
                        <form action="/affectationCondidat" method="POST">
                            <div class="form-group d-flex">
                                <label class="col-sm-4 col-form-label">ID Condidat</label>
                                <input type="text" class="form-control rounded-left" placeholder="ID Condidat" name="idCondidat" id="idCondidat" required oninput="fetchAUTOCondidat();">
                            </div>
                            <div class="form-group d-flex">
                                <label class="col-sm-4 col-form-label">Nom Condidat</label>
                                <input type="text" class="form-control rounded-left" id="nomCDT" value="" readonly>
                            </div>
                            <div class="form-group d-flex">
                                <label class="col-sm-4 col-form-label">Prenom Condidat</label>
                                <input type="text" class="form-control rounded-left" id="prenomCDT" value="" readonly>
                            </div>
                            <div class="form-group d-flex">
                                <label class="col-sm-4 col-form-label">Département</label>
                                <select class="custom-select my-1 mr-sm-2" id="selectedDEP">
                                    <% data1.forEach(entry => { %>
                                    <option value="<%= entry.email %>"><%= entry.nomDepartement %></option>
                                    <% }) %>
                                </select>
                            </div>
                            <div class="form-group d-flex">
                                <label class="col-sm-4 col-form-label">Direction</label>
                                <input type="text" class="form-control rounded-left" id="idD" value="" readonly>
                            </div>
                            <div class="form-group d-flex">
                                <label class="col-sm-4 col-form-label">Sous Direction</label>
                                <input type="text" class="form-control rounded-left" id="idSD" value="" readonly>
                            </div>
                            <div class="form-group d-flex">
                                <label class="col-sm-4 col-form-label">ID Equipe</label>
                                <input type="text" class="form-control rounded-left" id="idE" value="" readonly>
                            </div>
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="checkbox" onclick="confirmerAffectation();">
                                <label class="form-check-label">Je confirme de ajouter cette condidat dans cette équipe.</label>
                            </div>
                            <div class="form-group"></div>
                            <button type="submit" id="submitBtn" class="form-control btn btn-secondary rounded submit px-3" disabled>Ajouter</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="p-4"></div>
    <div class="p-4"></div>
</body>
<footer class="fixed-bottom">
    <div class="bg-secondary">
        <div class="footer-copyright text-center py-2 text-light">
            © <script>document.write(new Date().getFullYear())</script> Copyright | Direction des resources Humaine - DRH
        </div>
    </div>
</footer>
<!-- data1 -->
<script id="Departementsdata" type="application/json" >
    [<% data1.forEach(entry => { %>
        {"IDdepartement":"<%= entry.IDdepartement %>",
        "nomDepartement":"<%= entry.nomDepartement %>",
        "IDdirection":"<%= entry.IDdirection %>",
        "IDequipe":"<%= entry.IDequipe %>",
        "emailCompteChefEquipe":"<%= entry.emailCompteChefEquipe %>",
        "capaciteEquipe":"<%= entry.capaciteEquipe %>"},
    <% }) %>
    {}]
</script>
<!-- data2 -->
<script id="condidatsdata" type="application/json">
    [<% data2.forEach(entry => { %>
    {"IDcondidat":"<%= entry.IDcondidat %>",
    "nomCondidat":"<%= entry.nomCondidat %>",
    "prenomCondidat":"<%= entry.prenomCondidat %>"},
    <% }) %>
    {}]
</script>
<!-- data3 -->
<script id="directionsdata" type="application/json">
    [<% data3.forEach(entry => { %>
    {"IDdirection":"<%= entry.IDdirection %>",
    "nomDirection":"<%= entry.nomDirection %>",
    "nomSousDirection":"<%= entry.nomSousDirection %>"},
    <% }) %>
    {}]
</script>
<script>
// function used to unicode some special caracters when fetch from database
function decodeHTMLEntities(text) {
    var entities = [['amp', '&'],['apos', '\''],['#x27', '\''],['#x2F', '/'],['#39', '\''],['#47', '/'],['lt', '<'],['gt', '>'],['nbsp', ' '],['quot', '"']];
    for (var i = 0, max = entities.length; i < max; ++i) {
        text = text.replace(new RegExp('&'+entities[i][0]+';', 'g'), entities[i][1]);
    }
    return text;
};

// function that complete the name and family name of an id of condidat input (it allow to confirme that it the right person)
function fetchAUTOCondidat(){
    let IDcondidat_ = document.getElementById("idCondidat").value;
    let condidatsdata = JSON.parse(document.getElementById('condidatsdata').innerHTML);
    let indexJSONx;
    let k = 0;
    for (k=0; k< condidatsdata.length; k++){
        if (parseInt(IDcondidat_) == condidatsdata[k].IDcondidat){
            indexJSONx = k;
            break;
        };
    };
    if(!(indexJSONx == k)) {
        document.getElementById("nomCDT").readonly = false;
        document.getElementById("nomCDT").value = "";
        document.getElementById("nomCDT").readonly = true;
        document.getElementById("prenomCDT").readonly = false;
        document.getElementById("prenomCDT").value = "";
        document.getElementById("prenomCDT").readonly = true;
    } else {
        document.getElementById("nomCDT").readonly = false;
        document.getElementById("nomCDT").value = decodeHTMLEntities(condidatsdata[indexJSONx].nomCondidat);
        document.getElementById("nomCDT").readonly = true;
        document.getElementById("prenomCDT").readonly = false;
        document.getElementById("prenomCDT").value = decodeHTMLEntities(condidatsdata[indexJSONx].prenomCondidat);
        document.getElementById("prenomCDT").readonly = true;
    }
};

// function that complete other informations automaticlly
function fetchAUTODepartement(){
    let text = document.getElementById("selectedDEP").options[document.getElementById("selectedDEP").selectedIndex].text;
    let Departementsdata = JSON.parse(document.getElementById('Departementsdata').innerHTML);
    let indexJSONx;
    let k = 0;
    for (k=0; k< Departementsdata.length; k++){
        if (text === Departementsdata[k].nomDepartement){
            indexJSONx = k;
            break;
        };
    };
    if(!(indexJSONx == k)) {
        document.getElementById("idD").readonly = false;
        document.getElementById("idD").value = "";
        document.getElementById("idD").readonly = true;
        document.getElementById("idSD").readonly = false;
        document.getElementById("idSD").value = "";
        document.getElementById("idSD").readonly = true;
        document.getElementById("idE").readonly = false;
        document.getElementById("idE").value = "";
        document.getElementById("idE").readonly = true;
    } else {
        let directionsdata = JSON.parse(document.getElementById('directionsdata').innerHTML);
        let text2 = decodeHTMLEntities(Departementsdata[indexJSONx].IDdirection);
        let indexJSONx2;
        let k2 = 0;
        for (k2=0; k2< directionsdata.length; k2++){
            if (text2 == directionsdata[k2].IDdirection){
                indexJSONx2 = k2;
                break;
            };
        };
        document.getElementById("idD").readonly = false;
        document.getElementById("idD").value = decodeHTMLEntities(directionsdata[indexJSONx2].nomDirection);
        document.getElementById("idD").readonly = true;
        document.getElementById("idSD").readonly = false;
        document.getElementById("idSD").value = decodeHTMLEntities(directionsdata[indexJSONx].nomSousDirection);
        document.getElementById("idSD").readonly = true;
        document.getElementById("idE").readonly = false;
        document.getElementById("idE").value = decodeHTMLEntities(Departementsdata[indexJSONx].IDequipe);
        document.getElementById("idE").readonly = true;
    };
};
document.getElementById("selectedD").onchange = fetchAUTODepartement();

// function to confirm affectation
function confirmerAffectation(){
    if(document.getElementById('checkbox').checked){
        document.getElementById('submitBtn').disabled = false;
    } else {
        document.getElementById('submitBtn').disabled = true;
    }
};
</script>
<!-- <script>
    let validSubmit = new Array(2).fill(false);
    $(document).ready(function() {
        $('#confirmedEmailD').on('input', function() {
            var input = $(this);
            var Cemail = input.val();
            text = document.getElementById("selectedEmailD").options[document.getElementById("selectedEmailD").selectedIndex].text;
            // e= document.getElementById("selectedEmailD");
            console.log(text);
            if (Cemail == text) {
                validSubmit[0]=true;
            } else {
                validSubmit[0]=false;
            }
            if (validSubmit[1]==true && validSubmit[0]==true){
                document.getElementById("submitBtn").disabled = false;
            }else{
                document.getElementById("submitBtn").disabled = true;
            }
        });
        $('#confirmedEmailSD').on('input', function() {
            var input = $(this);
            var Cemail = input.val();
            text = document.getElementById("selectedEmailSD").options[document.getElementById("selectedEmailSD").selectedIndex].text;
            console.log(text);
            if (Cemail == text) {
                validSubmit[1]=true;
            } else {
                validSubmit[1]=false;
            }
            if (validSubmit[1]==true && validSubmit[0]==true){
                document.getElementById("submitBtn").disabled = false;
            }else{
                document.getElementById("submitBtn").disabled = true;
            }
        });});
</script>  -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</html>