<!doctype html>
<html>
<head>
    <title>DRH - Insertion</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<style>

</style>
<body>
    <nav class="navbar navbar-light bg-secondary">
        <a class="navbar-brand text-light" href="accueil">Accueil</a>
        <button class="btn btn-outline-light my-2 my-sm-0"><a class="text-light" href="index">Déconnecter</a></button>
    </nav>
    <div class="container">
        <div class="py-3"></div>
        <form method="post" action="/InsererCondidat" encType="multipart/form-data">
        <div class="row">
            <div class="col">
                <!-- <form method="post" action="/InsererCondidat"> -->
                    <div class="form-group row">
                        <label class="col-sm-5 col-form-label">Responsable</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="Responsable">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-5 col-form-label">Identifiant</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="Identifiant">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-5 col-form-label">Jour et Heur de Connection</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="JHC">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Nom</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="Nom" name="Nom">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Prénom</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="Prenom" name="Prenom">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Numéro du Téléphone</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="numeroTel" name="numeroTel">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">E-mail</label>
                        <div class="col-sm-8">
                            <input type="email" class="form-control" id="email" name="email">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Spécialité</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="Specialite" name="Specialite">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Diplome</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="Diplome" name="Diplome">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Etablissement</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="Etablissement" name="Etablissement">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Adress Complet</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="Adress" name="Adress">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Wilaya</label>
                        <div class="col-sm-8">
                            <select class="custom-select my-1 mr-sm-2" id="Wilaya" name="Wilaya">
                                <option value="Adrar">Adrar</option>
                                <option value="Chlef">Chlef</option>
                                <option value="Laghouat">Laghouat</option>
                                <option value="OumElBouaghi">OumElBouaghi</option>
                                <option value="Batna">Batna</option>
                                <option value="Bejaia">Bejaia</option>
                                <option value="Blida">Blida</option>
                                <option value="Bouira">Bouira</option>
                                <option value="Tebessa">Tebessa</option>
                                <option value="Tlemcen">Tlemcen</option>
                                <option value="Tiaret">Tiaret</option>
                                <option value="Biskra">Biskra</option>
                                <option value="Bechar">Bechar</option>
                                <option value="Tamanrasset">Tamanrasset</option>
                                <option value="TiziOuzou">TiziOuzou</option>
                                <option value="AlgerCentre">Alger</option>
                                <option value="Djelfa">Djelfa</option>
                                <option value="Jijel">Jijel</option>
                                <option value="Setif">Setif</option>
                                <option value="Saida">Saida</option>
                                <option value="Skikda">Skikda</option>
                                <option value="SidiBelAbbes">SidiBelAbbes</option>
                                <option value="Annaba">Annaba</option>
                                <option value="Guelma">Guelma</option>
                                <option value="Constantine">Constantine</option>
                                <option value="Medea">Medea</option>
                                <option value="Mostaganem">Mostaganem</option>
                                <option value="Msila">Msila</option>
                                <option value="Mascara">Mascara</option>
                                <option value="Ouargla">Ouargla</option>
                                <option value="Oran">Oran</option>
                                <option value="ElBayadh">ElBayadh</option>
                                <option value="Illizi">Illizi</option>
                                <option value="BordjBouArreridj">BordjBouArreridj</option>
                                <option value="Boumerdes">Boumerdes</option>
                                <option value="ElTarf">ElTarf</option>
                                <option value="Tindouf">Tindouf</option>
                                <option value="Tissemsilt">Tissemsilt</option>
                                <option value="ElOued">ElOued</option>
                                <option value="Khenchela">Khenchela</option>
                                <option value="SoukAhras">SoukAhras</option>
                                <option value="Tipaza">Tipaza</option>
                                <option value="Mila">Mila</option>
                                <option value="AinDefla">AinDefla</option>
                                <option value="Naama">Naama</option>
                                <option value="AinTemouchent">AinTemouchent</option>
                                <option value="Ghardaia">Ghardaia</option>
                                <option value="Relizane">Relizane</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Remarques</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" name="Remarques" id="Remarques" rows="3"></textarea>
                        </div>
                    </div>
                <!-- </form> -->
                <div class="row d-flex justify-content-between">
                    <button type="submit" class="btn btn-danger" disabled>Supprimer</button>
                    <button type="submit" class="btn btn-success">Valider</button>
                </div>
            </div>
            <div class="col">
                <!-- <form action="/InsererCondidat" method="post"> -->
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Diplomes</label>
                        <div class="col-sm-10">
                            <input type="file" class="custom-file-input" id="diplomes" name="diplomes" onchange="afficherDiplomes()" multiple>
                            <label class="custom-file-label" for="customFile"></label>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10" id="DiplomesFilesName"></div>
                    </div>
                    <div class="py-2"></div>
                    <div class="py-2"></div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">CV</label>
                        <div class="col-sm-10">
                            <!-- SavePhoto(this);UsePhoto(); -->
                            <input type="file" class="custom-file-input" accept="application/pdf" id="cv" name="pathcv" onchange="afficherCV()">
                            <label class="custom-file-label" for="customFile"></label>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10" id="cvFileName"></div>
                    </div>
                    <div class="row">
                        <label class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10" id="cvFileName">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe id="pdfframe" name="pdfframe" class="embed-responsive-item" src="" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                <!-- </form> -->
            </div>
        </div>
        </form>
        <div class="py-3"></div>
        <div class="py-3"></div>
        <div class="row">
            <table class="table table-hover" id="tableID">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Prénom</th>
                        <th scope="col">N° Tél</th>
                        <th scope="col">E-mail</th>
                        <th scope="col">Spécialité</th>
                        <th scope="col">Etablissement</th>
                        <th scope="col">Wilaya</th>
                        <th scope="col">Adress</th>
                        <th scope="col">Diplomes</th>
                        <th scope="col">Remarques</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <% data.forEach(entry => { %>
                            <th scope="row"><%= entry.IDcondidat %></th>
                            <td><%= entry.nomCondidat %></td>
                            <td><%= entry.prenomCondidat %></td>
                            <td><%= entry.numeroTel %></td>
                            <td><%= entry.emailCondidat %></td>
                            <td><%= entry.specialite %></td>
                            <td><%= entry.etablissement %></td>
                            <td><%= entry.wilaya %></td>
                            <td><%= entry.adressComplet %></td>
                            <td><%= entry.degree %></td>
                            <td><%= entry.remarques %></td>
                    </tr>
                        <% }) %>
                </tbody>
            </table>
        </div>
        <div class="py-3"></div>
        <div class="py-3"></div>
    </div>
</body>
<footer class="fixed-bottom">
    <div class="bg-secondary">
        <div class="footer-copyright text-center py-2 text-light">
            © <script>document.write(new Date().getFullYear())</script> Copyright | Direction des resources Humaine - DRH
        </div>
    </div>
</footer>
<script>
    afficherDiplomes = function() {
        var input = document.getElementById('diplomes');
        var output = document.getElementById('DiplomesFilesName');
        for (var i = 0; i < input.files.length; ++i) {
            output.innerHTML += '<h6 class="text-primary" onclick="renderPDF(this.innerHTML);">' + input.files.item(i).name + '</h6>';
        };
    };
    afficherCV = function() {
        var input = document.getElementById('cv');
        var output = document.getElementById('cvFileName');
        output.innerHTML = '';
        output.innerHTML += '<h6 class="text-primary" onclick="renderPDF(this.innerHTML);">' + input.files.item(0).name + '</h6>';
    };
    // function renderPDF(input){
    //     console.log(input);
    //     // document.getElementById("#pdfframe").src = 'background.png'; //not work
    //     document.getElementsByName('pdfframe')[0].src = input;
    // };
    // function SavePhoto(input) 
    // {
    //     let name = input.files[0].name;
    //     let reader = new FileReader();
    //     reader.addEventListener('load',function (){
    //         window.localStorage.setItem(name, this.result);
    //     });
    //     reader.readAsDataURL(document.getElementById("#cv").files[0]);
    //     console.log(window.localStorage.getItem(window.localStorage.key(0)));
    // };
    // function UsePhoto() 
    // {
    //     let res = window.localStorage.getItem(window.localStorage.key(0));
    //     // console.log(res);
    //     document.getElementsByName('pdfframe')[0].src = res;
    //     // let image = new Image();
    //     // image.src = res;
    // };
</script>
<script id="Condidatsdata" type="application/json">
[
        <% data.forEach(entry => { %>
        {"IDcondidat":      "<%= entry.IDcondidat %>",
        "nomCondidat":      "<%= entry.nomCondidat %>",
        "prenomCondidat":   "<%= entry.prenomCondidat %>",
        "numeroTel":        "<%= entry.numeroTel %>",
        "emailCondidat":    "<%= entry.emailCondidat %>",
        "specialite":       "<%= entry.specialite %>",
        "etablissement":    "<%= entry.etablissement %>",
        "wilaya":           "<%= entry.wilaya %>",
        "adressComplet":    "<%= entry.adressComplet %>",
        "degree":           "<%= entry.degree %>",
        "remarques":        "<%= entry.remarques %>"},
    <% }) %>
{}]
</script>
<script>
    var d = new Date();
    document.getElementById('JHC').value=  d.getDate()  + "-" + (d.getMonth()+1) + "-" + d.getFullYear() + " " +d.getHours() + ":" + d.getMinutes();

    // $("#cv").on("change", function() {
    // var fileName = $(this).val().split("\\").pop();
    // $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    // });
    // document.getElementById("#cv").addEventListener('change', function() {
    // var fileName = document.getElementById("#cv").value.split("\\").pop();
    // // console.log(document.getElementById("#cv").value);
    // document.getElementById("#cv").siblings(".custom-file-label").classList.add("selected").html(fileName);
    // });
    
    function addRowHandlers() {
    var table = document.getElementById("tableID");
    var rows = table.getElementsByTagName("tr");
    for (i = 0; i < rows.length; i++) {
        var currentRow = table.rows[i];
        var createClickHandler = function(row) {
                return function() { 
                    
                    let Condidatsdata = JSON.parse(document.getElementById('Condidatsdata').innerHTML);
                    document.getElementById("Nom").value = Condidatsdata[0].nomCondidat ;
                    document.getElementById("Prenom").value =Condidatsdata[0].prenomCondidat ;
                    document.getElementById("numeroTel").value =Condidatsdata[0].numeroTel ;
                    document.getElementById("email").value =Condidatsdata[0].emailCondidat ;
                    document.getElementById("Specialite").value =Condidatsdata[0].specialite ;
                    document.getElementById("Diplome").value =Condidatsdata[0].degree ;
                    document.getElementById("Etablissement").value =Condidatsdata[0].etablissement ;
                    document.getElementById("Adress").value =Condidatsdata[0].adressComplet ;
                    document.getElementById("Remarques").value =Condidatsdata[0].remarques ;
                    // document.getElementById("#Wilaya").value =Condidatsdata[0].wilaya ;

                    // const IDcondidat = row.getElementsByTagName("td")[0].innerHTML;
                    // const nomCondidat = row.getElementsByTagName("td")[1].innerHTML;
                    // const prenomCondidat = row.getElementsByTagName("td")[2].innerHTML;
                    // const numeroTel = row.getElementsByTagName("td")[3].innerHTML;
                    // const emailCondidat = row.getElementsByTagName("td")[4].innerHTML;
                    // const specialite = row.getElementsByTagName("td")[5].innerHTML;
                    // const etablissement = row.getElementsByTagName("td")[6].innerHTML;
                    // const wilaya = row.getElementsByTagName("td")[7].innerHTML;
                    // const adressComplet = row.getElementsByTagName("td")[8].innerHTML;
                    // const degree = row.getElementsByTagName("td")[9].innerHTML;
                    // const remarques = row.getElementsByTagName("td")[10].innerHTML;
                    // alert("id:" + id);
                    // write your logic here
                    
                };
            };
        currentRow.onclick = createClickHandler(currentRow);
        }
    }
    window.onload = addRowHandlers();
</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>    
</html>