<!doctype html>
<html>
<head>
    <title>DRH - Insertion</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body style="background-image: url('background.png'); background-repeat: no-repeat;background-attachment: fixed;  background-size: cover;">
    <nav class="navbar navbar-light bg-secondary">
        <a class="navbar-brand text-light" href="accueil">Accueil</a>
        <button class="btn btn-outline-light my-2 my-sm-0"><a class="text-light" href="/">Déconnecter</a></button>
    </nav>
    <div class="container">
        <div class="py-3"></div>
        <form method="post" action="/InsererCondidat" encType="multipart/form-data" id="formulaire">
            <div class="row">
                <div class="col">
                    <!-- <div class="form-group row">
                        <label class="col-sm-5 col-form-label">Responsable</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="Responsable">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-5 col-form-label">Identifiant</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="Identifiant">
                        </div>
                    </div> -->
                    <div class="form-group row">
                        <label class="col-sm-5 col-form-label">Jour et Heur de Connection</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="JHC">
                        </div>
                    </div>
                    <input type="hidden" id="condidatIDhidden" name="condidatIDhidden" value="">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Nom</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="Nom" name="Nom" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Prénom</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="Prenom" name="Prenom" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Numéro du Téléphone</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="numeroTel" name="numeroTel" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">E-mail</label>
                        <div class="col-sm-8">
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Spécialité</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="Specialite" name="Specialite" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <!-- en BDD c'est le degree exemple master1 -->
                        <label class="col-sm-4 col-form-label">Diplome</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="Diplome" name="Diplome" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Etablissement</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="Etablissement" name="Etablissement" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Adress Complet</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="Adress" name="Adress" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Wilaya</label>
                        <div class="col-sm-8">
                            <select class="custom-select my-1 mr-sm-2" id="Wilaya" name="Wilaya">
                                <option value="Adrar">Adrar</option>
                                <option value="Chlef">Chlef</option>
                                <option value="Laghouat">Laghouat</option>
                                <option value="OumElBouaghi">OumElBouaghi</option>
                                <option value="Batna">Batna</option>
                                <option value="Bejaia">Bejaia</option>
                                <option value="Blida">Blida</option>
                                <option value="Bouira">Bouira</option>
                                <option value="Tebessa">Tebessa</option>
                                <option value="Tlemcen">Tlemcen</option>
                                <option value="Tiaret">Tiaret</option>
                                <option value="Biskra">Biskra</option>
                                <option value="Bechar">Bechar</option>
                                <option value="Tamanrasset">Tamanrasset</option>
                                <option value="TiziOuzou">TiziOuzou</option>
                                <option value="AlgerCentre">Alger</option>
                                <option value="Djelfa">Djelfa</option>
                                <option value="Jijel">Jijel</option>
                                <option value="Setif">Setif</option>
                                <option value="Saida">Saida</option>
                                <option value="Skikda">Skikda</option>
                                <option value="SidiBelAbbes">SidiBelAbbes</option>
                                <option value="Annaba">Annaba</option>
                                <option value="Guelma">Guelma</option>
                                <option value="Constantine">Constantine</option>
                                <option value="Medea">Medea</option>
                                <option value="Mostaganem">Mostaganem</option>
                                <option value="Msila">Msila</option>
                                <option value="Mascara">Mascara</option>
                                <option value="Ouargla">Ouargla</option>
                                <option value="Oran">Oran</option>
                                <option value="ElBayadh">ElBayadh</option>
                                <option value="Illizi">Illizi</option>
                                <option value="BordjBouArreridj">BordjBouArreridj</option>
                                <option value="Boumerdes">Boumerdes</option>
                                <option value="ElTarf">ElTarf</option>
                                <option value="Tindouf">Tindouf</option>
                                <option value="Tissemsilt">Tissemsilt</option>
                                <option value="ElOued">ElOued</option>
                                <option value="Khenchela">Khenchela</option>
                                <option value="SoukAhras">SoukAhras</option>
                                <option value="Tipaza">Tipaza</option>
                                <option value="Mila">Mila</option>
                                <option value="AinDefla">AinDefla</option>
                                <option value="Naama">Naama</option>
                                <option value="AinTemouchent">AinTemouchent</option>
                                <option value="Ghardaia">Ghardaia</option>
                                <option value="Relizane">Relizane</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Remarques</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" name="Remarques" id="Remarques" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-between">
                        <button type="submit" class="btn btn-danger" disabled>Supprimer</button>
                        <button type="submit" class="btn btn-success">Valider</button>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Piece d'ID</label>
                        <div class="col-sm-9">
                            <h6>Vous devez choisir deux photos, recto verso et de la meme piece d'identité (soit la carte national soit le passport)</h6>
                            <div class="row form-group">
                                <div class="col-12 col-md-12">
                                    <div class="control-group">
                                        <div class="controls" id="controls_1">
                                            <div class="entry input-group upload-input-group mb-3">
                                                <div class="border col-sm-10">
                                                    <input name="PID" type="file" accept="application/pdf" required>
                                                </div>
                                                <div class="col-sm-2 justify-content-center">
                                                    <button class="btn btn-upload btn-success btn_add_1" id="btn_add_1" type="button">  
                                                        <i class="fa fa-plus"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Diplomes</label>
                        <!-- <div class="col-sm-10">
                            <input type="file" class="custom-file-input" id="diplomes" name="diplomes" onchange="afficherDiplomes()" accept="application/pdf" multiple required>
                            <label class="custom-file-label" for="customFile"></label>
                        </div> -->
                        <div class="col-sm-9">
                            <h6>Seulement des fichiers en format PDF sont acceptées (au moins un diplome est requis).</h6>
                            <div class="row form-group">
                                <div class="col-12 col-md-12">
                                    <div class="control-group">
                                        <div class="controls" id="controls_2">
                                            <div class="entry input-group upload-input-group mb-3">
                                                <div class="border col-sm-10">
                                                    <input name="diplomes" id="diplomes" type="file" accept="application/pdf" required>
                                                </div>
                                                <div class="col-sm-2 justify-content-center">
                                                    <button class="btn btn-upload btn-success btn_add_2" id="btn_add_2" type="button">  
                                                        <i class="fa fa-plus"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-2 col-form-label" id="DiplomesFilesNameLabel"></label>
                        <div class="col-sm-10" id="DiplomesFilesName"></div>
                    </div>
                    <div class="py-2"></div>
                    <div class="py-2"></div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">CV</label>
                        <div class="col-sm-9">
                            <input type="file" class="custom-file-input" accept="application/pdf" id="cv" name="pathcv" onchange="afficherCV()" required>
                            <label class="custom-file-label" for="customFile"></label>
                        </div>
                    </div>
                    <!-- <div class="row">
                        <label class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10" id="cvFileName"></div>
                    </div>
                    <div class="row">
                        <label class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10" id="cvFileName">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe id="pdfframe" name="pdfframe" class="embed-responsive-item" src="" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </form>
        <div class="py-3"></div>
        <div class="row" style="overflow-x:auto;">
            <table class="table table-striped table-bordered table-hover" style="width:100%" id="tableID">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>N° Tél</th>
                        <th>E-mail</th>
                        <th>Spécialité</th>
                        <th>Etablissement</th>
                        <th>Wilaya</th>
                        <th>Adress</th>
                        <th>Diplomes</th>
                        <th>Remarques</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <% data.forEach(entry => { %>
                        <td><%= entry.IDcondidat %></th>
                        <td><%= entry.nomCondidat %></td>
                        <td><%= entry.prenomCondidat %></td>
                        <td><%= entry.numeroTel %></td>
                        <td><%= entry.emailCondidat %></td>
                        <td><%= entry.specialite %></td>
                        <td><%= entry.etablissement %></td>
                        <td><%= entry.wilaya %></td>
                        <td><%= entry.adressComplet %></td>
                        <td><%= entry.diplome %></td>
                        <td><%= entry.remarques %></td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
        <div class="py-3"></div>
        <div class="py-3"></div>
    </div>
    <!-- Form 1: Upload PID -->
    <!-- <div class="modal fade" id="uploadPID_popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Upload Piece d'ID</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="InsererCondidat" method="POST" enctype="multipart/form-data" class="form-horizontal">
                        <h6>Vous devez choisir deux photos, recto verso et de la meme piece d'identité (soit la carte national soit le passport)</h6>
                        <div class="row form-group">
                            <div class="col-12 col-md-12">
                                <div class="control-group">
                                    <div class="controls">
                                        <div class="entry input-group upload-input-group mb-3">
                                            <div class="border col-sm-10">
                                                <input class="custom-file-input form-control" name="PID" type="file" accept="application/pdf" required>  
                                            </div>
                                            <div class="col-sm-2 justify-content-center">
                                                <button class="btn btn-upload btn-success btn-add" type="button">  
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="form-control btn btn-primary rounded submit px-3">Upload</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                </div>
            </div>
        </div>
    </div> -->
</body>
<footer class="fixed-bottom">
    <div class="bg-secondary">
        <div class="footer-copyright text-center py-2 text-light">
            © <script>document.write(new Date().getFullYear())</script> Copyright | Direction des resources Humaine - DRH
        </div>
    </div>
</footer>
<script>
    // function that allow to display remve btn on upload files
    $(function () {  
        $(document).on('click', '.btn_add_1', function (e) {  
            e.preventDefault();
            var controlForm = $('#controls_1:first');
            var currentEntry = $(this).parents('.entry:first');
            var newEntry = $(currentEntry.clone()).appendTo(controlForm);  

            newEntry.find('input').val('');  
            controlForm.find('.entry:not(:last) .btn_add_1').removeClass('btn_add_1').addClass('btn_remove_1')  
                .removeClass('btn-success').addClass('btn-danger').html('<span class="fa fa-trash"></span>');  
        }).on('click', '.btn_remove_1', function (e) {  
            $(this).parents('.entry:first').remove();  
            e.preventDefault();
            return false;
        });
        $(document).on('click', '.btn_add_2', function (e) {  
            e.preventDefault();
            var controlForm = $('#controls_2:first');
            var currentEntry = $(this).parents('.entry:first');
            var newEntry = $(currentEntry.clone()).appendTo(controlForm);  

            newEntry.find('input').val('');  
            controlForm.find('.entry:not(:last) .btn_add_2').removeClass('btn_add_2').addClass('btn_remove_2')  
                .removeClass('btn-success').addClass('btn-danger').html('<span class="fa fa-trash"></span>');  
        }).on('click', '.btn_remove_2', function (e) {  
            $(this).parents('.entry:first').remove();  
            e.preventDefault();
            return false;
        });
    });
</script>
<!-- data -->
<script id="Condidatsdata" type="application/json">
[
        <% data.forEach(entry => { %>
        {"IDcondidat":"<%= entry.IDcondidat %>",
        "nomCondidat":"<%= entry.nomCondidat %>",
        "prenomCondidat":"<%= entry.prenomCondidat %>",
        "numeroTel":"<%= entry.numeroTel %>",
        "emailCondidat":"<%= entry.emailCondidat %>",
        "specialite":"<%= entry.specialite %>",
        "etablissement":"<%= entry.etablissement %>",
        "wilaya":"<%= entry.wilaya %>",
        "adressComplet":"<%= entry.adressComplet %>",
        "degree":"<%= entry.degree %>",
        "pathCV":"<%= entry.pathCV %>",
        "remarques":"<%= entry.remarques %>"},
    <% }) %>
{}]
</script>
<!-- data2 -->
<script id="Diplomesdata" type="application/json">
    [
        <% data2.forEach(entry => { %>
        {"IDdiplome":"<%= entry.IDdiplome %>",
        "IDcondidat":"<%= entry.IDcondidat %>",
        "pathDiplome":"<%= entry.pathDiplome %>"},
    <% }) %>
{}]
</script>
<script>
// display time of edit condidat
var d = new Date();
document.getElementById('JHC').value=  d.getDate()  + "-" + (d.getMonth()+1) + "-" + d.getFullYear() + " " +d.getHours() + ":" + d.getMinutes();

// function to controle name string
document.getElementById("Nom").addEventListener("input",()=>{
    var Nomver = document.getElementById("Nom").value;
    var pattern = /^[a-zA-Z -]+$/;
    if(pattern.test(Nomver) && !(Nomver.length < 3)){
        document.getElementById("Nom").classList.remove("border");
        document.getElementById("Nom").classList.remove("border-danger");
    } else {
        document.getElementById("Nom").classList.add("border");
        document.getElementById("Nom").classList.add("border-danger");
    }
});

// function to controle family name string
document.getElementById("Prenom").addEventListener("input",()=>{
    var Prenomver = document.getElementById("Prenom").value;
    var pattern = /^[a-zA-Z -]+$/;
    if(pattern.test(Prenomver) && !(Prenomver.length < 3)){
        document.getElementById("Prenom").classList.remove("border");
        document.getElementById("Prenom").classList.remove("border-danger");
    } else {
        document.getElementById("Prenom").classList.add("border");
        document.getElementById("Prenom").classList.add("border-danger");
    }
});

// function to controle phone number
document.getElementById("numeroTel").addEventListener("input",()=>{
    var numeroTelver = document.getElementById("numeroTel").value;
    var pattern = /^\d+\.?\d*$/;
    if(pattern.test(numeroTelver) && !(numeroTelver.length > 15) && !(numeroTelver.length < 8)){
        document.getElementById("numeroTel").classList.remove("border");
        document.getElementById("numeroTel").classList.remove("border-danger");
    } else {
        document.getElementById("numeroTel").classList.add("border");
        document.getElementById("numeroTel").classList.add("border-danger");
    }
});

// function used to unicode some special caracters when fetch from database
function decodeHTMLEntities(text) {
    var entities = [['amp', '&'],['apos', '\''],['#x27', '\''],['#x2F', '/'],['#39', '\''],['#47', '/'],['lt', '<'],['gt', '>'],['nbsp', ' '],['quot', '"']];
    for (var i = 0, max = entities.length; i < max; ++i) {
        text = text.replace(new RegExp('&'+entities[i][0]+';', 'g'), entities[i][1]);
    }
    return text;
}

// function that fetch data from local JSON to input tags dynamicly and change form action
function addRowHandlers() {
    var table = document.getElementById("tableID");
    var rows = table.getElementsByTagName("tr");
    for (i = 0; i < rows.length; i++) {
        var currentRow = table.rows[i];
        var createClickHandler = function(row) {
                return function() { 
                    const IDcondidat_ = row.getElementsByTagName("td")[0].innerHTML;
                    let indexJSONx;
                    let Condidatsdata = JSON.parse(document.getElementById('Condidatsdata').innerHTML);
                    for (k=0; k< Condidatsdata.length; k++){
                        if (parseInt(IDcondidat_) == Condidatsdata[k].IDcondidat){
                            indexJSONx = k;
                            break;
                        }
                    }
                    document.getElementById("Nom").value = decodeHTMLEntities(Condidatsdata[indexJSONx].nomCondidat);
                    document.getElementById("Prenom").value =decodeHTMLEntities(Condidatsdata[indexJSONx].prenomCondidat);
                    document.getElementById("numeroTel").value =decodeHTMLEntities(Condidatsdata[indexJSONx].numeroTel);
                    document.getElementById("email").value =decodeHTMLEntities(Condidatsdata[indexJSONx].emailCondidat);
                    document.getElementById("Specialite").value =decodeHTMLEntities(Condidatsdata[indexJSONx].specialite);
                    document.getElementById("Diplome").value =decodeHTMLEntities(Condidatsdata[indexJSONx].degree);
                    document.getElementById("Etablissement").value =decodeHTMLEntities(Condidatsdata[indexJSONx].etablissement);
                    document.getElementById("Adress").value =decodeHTMLEntities(Condidatsdata[indexJSONx].adressComplet);
                    document.getElementById("Remarques").value =decodeHTMLEntities(Condidatsdata[indexJSONx].remarques);
                    document.getElementById("Wilaya").value =decodeHTMLEntities(Condidatsdata[indexJSONx].wilaya);
                    document.getElementById('cvFileName').innerHTML = '<h6 class="text-primary" onclick="renderPDF(this.innerHTML);">' + decodeHTMLEntities(Condidatsdata[indexJSONx].pathCV) + '</h6>'
                    document.getElementById('formulaire').action= "/modifierInfosCondidat";
                    document.getElementById("condidatIDhidden").value = decodeHTMLEntities(Condidatsdata[indexJSONx].IDcondidat);
                    let nb_diplomes=0;
                    let namesDip = [];
                    let Diplomesdata = JSON.parse(document.getElementById('Diplomesdata').innerHTML);
                    for (m=0; m< Diplomesdata.length; m++){
                        if (parseInt(IDcondidat_) == parseInt(Diplomesdata[m].IDcondidat)){
                            namesDip[nb_diplomes]=decodeHTMLEntities(Diplomesdata[m].pathDiplome);
                            nb_diplomes++;
                        }
                    }
                    document.getElementById('DiplomesFilesName').innerHTML = '';
                    document.getElementById('DiplomesFilesNameLabel').innerHTML='';
                    for(h=0;h<nb_diplomes;h++){
                        let oo=h+1;
                        document.getElementById('DiplomesFilesNameLabel').innerHTML+='<h6 class="text-primary" style="font-size: 0.8em;">Diplome N°'+oo+'</h6>';
                        document.getElementById('DiplomesFilesName').innerHTML += '<h6 class="text-primary" onclick="renderPDF(this.innerHTML);">' + namesDip[h] + '</h6>'
                    }
                };
            };
        currentRow.onclick = createClickHandler(currentRow);
    }
}
window.onload = addRowHandlers();

// function to display name of uploaded diploma files of condidat
function afficherDiplomes(){
    var input = document.getElementById('diplomes');
    var output = document.getElementById('DiplomesFilesName');
    var output_0 = document.getElementById('DiplomesFilesNameLabel');
    // const fileListArr = Array.from(input.files);
    // console.log(fileListArr);
    output.innerHTML ='';
    output_0.innerHTML='';
    for (var i = 0; i < input.files.length; ++i) {
        // console.log(i);
        let oo=i+1;
        output_0.innerHTML+='<h6 class="text-primary" style="font-size: 0.8em;">Diplome N°'+oo+'</h6>';
        output.innerHTML += '<h6 class="text-primary">' + input.files.item(i).name + '</h6>';
    };
};

// function to display name of uploaded cv file of condidat
function afficherCV(){
    var input = document.getElementById('cv');
    var output = document.getElementById('cvFileName');
    output.innerHTML = '';
    // tant que il ya auccun insertion du condidat, alors on ne peut pas afficher et rendrer le pdf (cv)
    output.innerHTML += '<h6 class="text-primary" id="cvFileName">' + input.files.item(0).name + '</h6>';
};

// function to render the selected pdf on the iframe
function renderPDF(input){
    // console.log(input); //name of the uploaded file
    document.getElementsByName('pdfframe')[0].src = input;
}
</script>
<script>
    // function to limit showing rows of table
    $(document).ready(function() {
        $('#tableID').DataTable({     
        "aLengthMenu": [[5, 10, 25, -1], [5, 10, 25, "All"]],
        "iDisplayLength": 5});
    });
</script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>    
</html>